@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container label {
    /*font-size: 5.5rem;*/
    font-size: 6vw;
    color: #fff;
    font-family: 'Major Mono Display';
}