@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container {
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 50px #000;
}

#container label {
    font-size: 5.5rem;
    color: #fff;
    font-family: 'Major Mono Display';
}